/*DO NOT TOUCH UNLESS YOU KNOW WHAT EVERYTHING DOES!*/
/*THIS FILE IS WRITTEN TO BE LEFT ALONE*/

/*Bootstrap Navbar Mods*/
.navbar-brand,
.navbar-nav > li > a {
  padding-top:8px !important;
  padding-bottom:8px !important;
  height: 36px;
}

.navbar {
  min-height:15px !important
}

body {
  font-size: 1.5em;
  background-color: #F4F4F4
}

.section {
  height: 95vh;
}

.carousel,
.item,
.active {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

.translucent-background {
  background-color: rgba(0,0,0,.5);k;
  /*opacity: 50%;*/
}

/*
 * Goal is to make the large heading at the top of the main page
 * It is a modified version of the carousel-caption entry in bootstrap.css
 */
#carousel-caption-title {
  position: absolute;
  right: 15%;
  bottom: 83%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px 2px #18962C;
  font-size: 2em
}

.img-center {
  margin: 0 auto;
  left: 50%;
}

/*
 * Auto resizes and scales images assuming they are 1x1 ratio
 * DO NOT TOUCH IF ALL POSSIBLE
 */
.eboard > img.img-responsive {
  max-width: 150px;
}

.ebaord > img.img-responsive,
ul.nav > li > a {
  font-size: 1em;
}

/*Deals with the social media icons on the menu bar*/

.fa-facebook-square {
  color: #4060A5;
}

.fa-twitter {
  color: #00ABE3;
}

.fa-youtube-play {
  color: #E10000;
}

.no-bullets {
  list-style-type: none;
}

/* Makes the google calendar frame size responsive*/
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*==========================*/

.jumbotron {
  position: relative;
  background: url("pictures\jumbobg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
